html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
/* background-image:url(images/back.jpg);   */
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
header { 
  background-image:url(images/head.jpg); 
  background: rgba(129, 211, 248);
height:  180px;


}

body{
  background-image:url(images/back2.jpg);
  background-size: cover;
}
.headwrapper{
  width: 800px;
  margin: 0 auto;
  font-size: 0px;
  display:  inline-block; 
  color: white;
  
}
.header{
  display: inline-block;
  font-size: 16pt;
 
}
.header p{
  font-size: 15px;
  font-family: courier;
  font-weight: normal;
  font-style: italic;
  margin-left: 125px;
}
.name{
font-family: 'Malgun Gothic', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    display: inline-block;
    padding-bottom: 30px;
    margin-left: -45px;
  /*color: rgb(155, 188, 190, .5);*/
}
.logo{
  display: inline-block; 


}
.logo a{
   display: inline-block; 
}
.profile {
  width: 100px;
   height: 100px; 
   position:  relative; 
}
.profile:after{
  content: "";
  width: 85px;
  height: 85px;
border: 3px solid rgba(0,173,251, .4); 
    position:  absolute; 
    border-radius:  50px;
   top:  5.5px;
   left: 55.5px;
   visibility:  hidden;
    box-shadow: 1px 1px 10px 14px  rgba(0,173,251, .3); 
}
.profile img{
     cursor: pointer;
}
.profile:hover:after{
visibility:  visible  ; 
cursor:  pointer;
}
.logo img{
  height:  170px;
  width:  180px;
    display: inline-block; 
}
form{
  padding-top: 10px;
}
.topmenu{
  text-align: center; 
  position: relative;
font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  display:  inline-block; 


}
.topmenu li{
  display: inline-block;

}
.topmenu li a{
  text-decoration: none;
  text-align: left;
  color: white;
  font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  padding: 12px 25px 0 25px; 
}
.topmenu li:hover .hover{
  color: rgba(0,173,251);
  border-bottom: solid 2px rgba(0,173,251);
    padding-bottom:  2px;
}
.topmenu li ul{
  position: absolute;
  display: none;
  background: rgba(95, 158, 160);
  width: 225px;
}
.topmenu li ul li:hover:a{
  text-decoration: underline; 
}
.topmenu li:hover ul{
  display: block;

}
.topmenu li ul li{
  display: block;
  padding: 5px;
  background: rgba(175, 238, 238, .4); /*173, 216, 230*/
}
.topmenu li ul li a{
  display: block;
  padding: 5px;
}
.topmenu li ul li a:hover{
text-decoration: none;  
background: rgba(192, 192, 192, .5);


}
.hover:hover .hov{
  border-top: solid 2px rgb(135, 206, 250);
  color: rgba(0,173,251);
  padding-bottom:  2px;
   border-bottom: solid 2px rgba(0,173,251);
}
.mybody{
  width: 1100px;
  
  position:   relative;
  margin:0 auto;

}
.mybody div{
  
  
  color:  white;
  text-align: center; 
  
}
.hover{
  position:   relative; 
}
.hov{
  position: relative;
}
iframe
{
    border: 0;
    width: 100%;
    height:  190px;

    
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
  font-size: 0px;
  
  color: white;
  
}

#recogn{
text-align: center; 

    border-width:0px;
  word-wrap:break-word;
  margin-top:  100px;
  margin-bottom: 50px;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.341176470588235);
  -webkit-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.341176470588235);
  -moz-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.341176470588235);
  text-transform:none;
    opacity:0.56;
  font-family:'Cambria Bold', 'Cambria Regular', 'Cambria', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#00B2FE;
}
#uploading img{
  width: 250px;
  height:   230px;
  border: 10px solid rgba(129, 211, 248);
  border-radius:20px;
    display: flex;  
  justify-content:  center; 
  align-items:  center; 
}

.image img{
  margin-left: auto;
  margin-right:   auto; 
  margin-bottom: 20px;
  margin-top:  20px;
}
#uploading h1{
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #20B3F2;
    text-align:   center; 

}
#uploading p{
width: 500px;
    font-family: 'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #81D3F8;
    margin-bottom: 15px;
}
#uploading span{
    font-size: 20px;
    color: #B0B0B0;
    font-weight: normal; 
}
#uploading1{
display:  flex;
justify-content:  center; 
align-items:  center; 
}
#uploadin1 form{
margin-left: auto;  
margin-right:   auto; 
}
.his{
  margin-top:  30px;

}
.history{
  width: 600px;
}
.img1{
  margin-top: 40px;
}
.info{
    display: block ;  
width: 500px;
margin-left: auto;  
margin-right:   auto; 

}

.fl_upld{
  width:300px;
}

.fl_upld_label {
  cursor:pointer;
  display:block;
   width:400px;
   height:35px;
   background-color: white;
   border-radius: 10px;
   font-size: 20px;
    color: rgba(128, 128, 128, 0.6);
   border: 2px solid rgba(129, 211, 248, 1);
   padding-right: 100px;
}
.fl_upld_label:hover{
  cursor: pointer;
  background-color: rgba(230,248,255);
    border: 2px solid rgba(129, 211, 248, .4);
}
#fl_nm{
margin-top:7px;
margin-left: 5px;
}
#btnClick{
   display:block;
    width:400px;
    height:40px;
 z-index:9999999999;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    color: grey;
    border: 2px solid rgba(129, 211, 248, 1);
    padding-right: 100px;
}
#btnClick:hover{
    cursor: pointer;
}
#rec{
    margin-left: 380px;
     background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#81D3F8;
      width:140px;
  height:40px;
    margin-top: -40px;
}
#rec:active, #rec:focus {
  outline: none;
}
#rec::-moz-focus-inner {
  border: 0;
}
#rec:hover{
    cursor: pointer;
    border-width:0px;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:15px;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color: white;
}
#u0_img {
  border-width:0px;
  position:absolute;
    z-index: -2;
  left:-50px;
  top:-47px;
  width:400px;
  height:244px;
}
#u0 {
  border-width:0px;
    z-index: -2;
  position:absolute;
  left:491px;
  top:434px;
  width:400px;
  height:244px;
  display:flex;
  opacity:0.6;
}

#u1_img {
   z-index: -2;
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-47px;
  width:69px;
  height:250px;
}
#u1 {
   z-index: -2;
  border-width:0px;
  position:absolute;
  left:50px;
  top:628px;
  width:69px;
  height:250px;
  display:flex;
  opacity:0.4;
}

#u2_img {
   z-index: -2;
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-47px;
  width:415px;
  height:297px;
}
#u2 {
   z-index: -2;
  border-width:0px;
  position:absolute;
  left:85px;
  top:496px;
  width:415px;
  height:297px;
  display:flex;
  opacity:0.5;
   -webkit-transform:rotate(9deg);
  -moz-transform:rotate(9deg);
  -ms-transform:rotate(9deg);
  transform:rotate(9deg);
}
.arrow{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 100px;
    width: 100px;
  background-image: url(images/array.png);
  cursor: pointer;
}

.arrow a{
  height: 100px;
    width: 100px;

}
.arrow:hover{
background-image: url(images/uphover.png);
}
.telegram{
  position: fixed;
  left: 25px;
  top: 45%;
  height: 100px;
  width: 100px;
  cursor: pointer;
  background-image: url(images/telegram1.png);
  animation: rotating 4s linear 0s infinite;
  z-index:  1;
}

.telegram a{
  height: 100px;
  width: 100px;

}
.telegram:hover {
  background-image: url(images/telegramhov.png);
}
.estrellas {
  position: fixed;
  width: 100px;
  height:100px;
  margin: 0 auto;
  font-size: 18px;
  top: 36%;
  font-family:  Arial;
 
}
.estrellas span {
  position: fixed;
  z-index:  -3;
  left: 60px;
  width: 100px;
color: rgba(23,163,226);
  height: 100px;
  margin-left: -35px;
  line-height: 530px; /* height*2 - font-size */
  text-align: center;
  transform-origin: top center;
   animation: textt 1.1s linear 1s infinite;
   
}
.estrellas span:nth-of-type(1)  {
  transform: rotate(-50deg);
}
.estrellas span:nth-of-type(2)  {
  transform: rotate(-35deg);
}
.estrellas span:nth-of-type(3)  {
  transform: rotate(-20deg);
}
.estrellas span:nth-of-type(4)  {
  transform: rotate(-5deg);
}
.estrellas span:nth-of-type(5)  {
  transform: rotate(10deg);
}
.estrellas span:nth-of-type(6)  {
  transform: rotate(25deg);
}
.estrellas span:nth-of-type(7)  {
  transform: rotate(40deg);
}
.estrellas span:nth-of-type(8)  {
  transform: rotate(55deg);
}
.estrellas span:nth-of-type(9)  {
  transform: rotate(70deg);
}
.estrellas span:nth-of-type(10)  {
  transform: rotate(85deg);
}
.estrellas span:nth-of-type(11)  {
  transform: rotate(100deg);
}
.estrellas span:nth-of-type(12)  {
  transform: rotate(115deg);
}
.estrellas span:nth-of-type(13)  {
  transform: rotate(130deg);
}
.estrellas span:nth-of-type(14)  {
  transform: rotate(145deg);
}
.estrellas span:nth-of-type(15)  {
  transform: rotate(160deg);
}
.estrellas span:nth-of-type(16)  {
  transform: rotate(175deg);
}
.estrellas span:nth-of-type(17)  {
  transform: rotate(190deg);
}
.estrellas span:nth-of-type(18)  {
  transform: rotate(205deg);
}
.estrellas span:nth-of-type(19)  {
  transform: rotate(220deg);
}
.estrellas span:nth-of-type(20)  {
  transform: rotate(235deg);
}
.estrellas span:nth-of-type(21)  {
  transform: rotate(250deg);
}
.estrellas span:nth-of-type(22)  {
  transform: rotate(265deg);
}
.estrellas span:nth-of-type(23)  {
  transform: rotate(280deg);
}
.estrellas span:nth-of-type(24)  {
  transform: rotate(295deg);
}
.estrellas span:nth-of-type(25)  {
  transform: rotate(310deg);
}
.estrellas span:nth-of-type(26)  {
  transform: rotate(310deg);
}
.estrellas span:nth-of-type(27)  {
  transform-origin: top center;
  transform: rotate(325deg);
}
/* Reverse mode */
.inverso {
  font-weight: bold;
}
.inverso span {
  line-height: 70px;
  transform-origin: bottom center;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(75deg);
  }
}


@keyframes textt{
  0% {
     color: rgba(23,163,226);
   
    }
  60% {
    
    color: rgba(150,220,255);
    }

}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: rgba(215,243,255);
  z-index: 10;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */

}
.wait{
  font-size: 25px;
  position: absolute;
  top: 35%;
left: 463px;
  font-family: "Arial Обычный", Arial, sans-serif;
    font-weight: 400;
opacity: 0.42;
}
#walk{
  position: absolute;
  top: 40%;
  margin-top: 40px; /*big - no*/
  background: url("images/catsmall.png");
  width: 101.25px;   /*w - 405px, h - 210px*/
  height: 52.5px;
  animation: walk 1s steps(12) infinite,
  forward 5s linear infinite; /*when big - 5s*/
    

}
@keyframes walk{
  0%{
    background-position: 1215px;  /*w - 4860px*/
  }
  100%{
    background-position: 0px; 
  }
}
@keyframes forward{
  0%{
    transform: translateX(300px); /*-100px, to - 1200px*/
  }
  100%{
    transform: translateX(800px);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s visibility;
  visibility:  hidden;  
  
}

.loaded .preloader {
  display: none;
  visibility:   visible;  

}
.loadline {
        height: 6px;  /* Может быть любой */
        position: relative;
        background: white;
        border-radius: 25px;
        width: 640px;
        border: 2px solid rgba(2, 167, 240);
        top: 55%;
        left: 319px;
}
.loadline span{
  height: 6px;
  position: absolute;
  background: rgba(97, 207, 254, 1);
  animation: wait 7s infinite;
}
@keyframes wait{
  0%{
    width:0px;
   /*transform: translateX(0px);/*w - 4860px*/
  }
  100%{
    width:640px;
   /* transform: translateX(1000px)*/
  }
}