<html>

<head>
    <title> WhatACatDog </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div id="base">
            <h1>WhatACatDog </h1>
        </div>

        <iframe src="{{ url_for('show_header') }}"></iframe>
    </header>
    <!-- Recognizing part)))) -->
    <div>
        <p id="recogn"> Recognize the breed of a cat/dog </p>
        <div id='uploading'>
            <form action="/" method="POST" enctype="multipart/form-data">
                <!-- <button id='btnClick' onclick="document.getElementById('getFile').click()">Click here to upload an
                    image</button> -->
                <input type='file' accept="image/jpg, image/jpeg" id="getFile" name="image">
                <button id='rec'> RECOGNIZE </button>
            </form>
        </div>

        <div id="u0" class="ax_default image">
            <img id="u0_img" class="img " src="{{ url_for('static', filename='css//images/u0.jpg') }}" />
        </div>
        <div id="u1" class="ax_default image">
            <img id="u1_img" class="img " src="{{ url_for('static', filename='css//images/u1.png') }}" />
        </div>
        <div id="u2" class="ax_default image">
            <img id="u2_img" class="img " src="{{ url_for('static', filename='css//images/u2.png') }}" />
        </div>

    </div>
    <!-- How to use part -->

</body>

</html>