<html>

<head>
    <title> WhatACatDog </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleSigning.css') }}">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header logo"><a href="#"><img src="{{ url_for('static', filename='css//images/logo.png.png') }}"
                        alt="logo"></a></div>
            <div class="headwrapper">
                <div class="header name">
                    WhatACat?Dog
                </div>
                <nav>
                    <ul class="topmenu">
                        <li class="hover" style="padding-right: 95px;"><a target="_top" href="{{ url_for('home') }}" class="hov">HOME
                                PAGE</a></li>
                        <li class="hover"><span class=" partition"></span><a target="_top" href="main.html#usage"
                                class="active hover">HOW TO USE</a></li>
                        <li class="hover" style="padding-left: 95px"><span class=" partition"></span><a
                            target="_top" href="main.html#about" class="hov">ABOUT US</a></li>
                    </ul>
                </nav>
            </div>
            <a href="#" id="profile" class="sign"><div class="header logo profile"><img src="{{ url_for('static', filename='css//images/prof.png') }}" style="width: 100px; height: 108px; margin-left: 50px; " alt="profile"></div></a>
        </div>
    </header>
    <div id="scroller" class="arrow">
        <a href="#"></a>
    </div>
    <a href="https://t.me/whatacatdog_bot">
        <div class="telegram">
        </div>
    </a>
    <div class="estrellas inverso">
        <span>A</span>
        <span>d</span>
        <span>d</span>
        <span> </span>
        <span>o</span>
        <span>u</span>
        <span>r</span>
        <span> </span>
        <span>b</span>
        <span>o</span>
        <span>t</span>
        <span> </span>
        <span>i</span>
        <span>n</span>
        <span> </span>
        <span>T</span>
        <span>e</span>
        <span>l</span>
        <span>e</span>
        <span>g</span>
        <span>r</span>
        <span>a</span>
        <span>m</span>

    </div>
    <!-- Recognizing part)))) -->
    <div>
        <p id="recogn"> Recognize the breed of a cat/dog </p>
        <div id='uploading'>
            <form action="/" method="POST" enctype="multipart/form-data">
                <!-- <button id='btnClick' onclick="document.getElementById('getFile').click()">Click here to upload an
                    image</button> -->
                <input type='file' accept="image/jpg, image/jpeg" id="getFile" name="image">
                <button id='rec'> RECOGNIZE </button>
            </form>
        </div>

        <div id="u0" class="ax_default image">
            <img id="u0_img" class="img " src="{{ url_for('static', filename='css//images/u0.jpg') }}" />
        </div>
        <div id="u1" class="ax_default image">
            <img id="u1_img" class="img " src="{{ url_for('static', filename='css//images/u1.png') }}" />
        </div>
        <div id="u2" class="ax_default image">
            <img id="u2_img" class="img " src="{{ url_for('static', filename='css//images/u2.png') }}" />
        </div>

    </div>
    <!-- How to use part -->
 <!--Pop-Ups-->
 <div class="overlay"></div>
<style type="text/css">
  .overlay {
    position:fixed;
    display:none; 
    z-index:  1;
    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
</style>
 <div class="overlay js-overlay-campaign">
    <div class="popup js-popup-campaign">
          <div id='frmIn'>
      <div class="close-popup js-close-campaign"></div>
 <form action="/signIn" method="post" id='formaIn'>
<span>{{ errorSignIn }}</span>
<h2 id='head2'>Sign In</h2>
    <label for="Email" class="floatLabel" id='l2'>Email Address</label>
          <br>
    <input id="Email" name="email" type="text" class="inp">
    <label for="password" class="floatLabel" id='l3'>Password</label>
          <br>
    <input id="Password" name="password" type="password" class="inp" >
     <div>
     <input type="checkbox" id="remPas" name="rp">
         <label for="rp" id='lbl'> Remember me</label>
         <p id='forgot'><a href='' style="text-decoration: none;  color: #C68CDD;"> Forgot password?</a></p>
     </div>
    <input type="submit" value="Submit" id="submit2">
     <p id='pep'> Or sign in using </p>
     <ul id='api'>
     
         <li id='ggl'>
		<a class="button" href="/signGoogle">
			<img src="{{ url_for('static', filename='css//images/u191.png') }}" style="height: 20px; width: 20px; margin-bottom: -5px;"> 
			Google  
		</a>
	</li>
        
     </ul>
     <p id='pep3'> Don`t have an account? <a id='sign' href="#" class="signUp"> Create</a> </p>
</form> 
  </div>
</div>
</div>
<div class="overlay js-overlay-campaign1">
    <div class="popup js-popup-campaign1">
           <div id='frm'>
      <div class="close-popup close-popup1 js-close-campaign1"></div>
 <form action="/signUp" method="post" id='forma'>
<h2 id='head'>Create an account</h2>
     <span>{{ errorSignUp }}</span>
    <label for="FN" class="floatLabel" id='l1' >Full name:</label>
         <br>
    <input id="FN" name="fn" type="text" class="inp" placeholder="ex. Ivanov Ivan" minlength="5">
    <label for="Email" class="floatLabel" id='l2'>Email:</label>
          <br>
    <input id="email" name="email" type="text" class="inp" placeholder="ex. ivanovivan@gmail.com" minlength="5">
    <label for="password" class="floatLabel" id='l3'>Password:</label>
          <br>
    <input id="password" name="password" type="password" class="inp" placeholder="min. 6 characters" minlength="6">
    <input type="submit" value="Create your account" id="submit">
     <p id='pep'> Or sign up using </p>
     <ul id='api'>     
         <li id='ggl'>
		<a class="button" href="/signGoogle">
			<img src="{{ url_for('static', filename='css//images/u191.png') }}" style="height: 20px; width: 20px; margin-bottom: -5px;"> 
			Google  
		</a>
	</li>
     </ul>
     <p id='pep2'> Already have an account? <a id='sign' class="sign" href='#'> Sign in</a> </p>
</form> 
  </div>
  </div>
</div>

</body>
</html>
<script>
    $(document).ready(function () {
        // $('#scroller').fadeOut();   
        //fade in/out based on scrollTop value
        $(window).scroll(function () {
            if ($(this).scrollTop() > 550) {
                $('#scroller').fadeIn();
            } else {
                $('#scroller').fadeOut();
            }
        });

        // scroll body to 0px on click
        $('#scroller').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
    });
</script>
<script>
$('.sign').click(function() {
$('.js-overlay-campaign1').fadeOut();
$('body').css('filter','none');
$('.js-overlay-campaign').css('filter','none');
$('.js-overlay-campaign').fadeIn();
$('.js-overlay-campaign').addClass('disabled');
});

$('.js-close-campaign').click(function() {
$('.js-overlay-campaign').fadeOut();
$('body').css('filter','none');
});

$(document).mouseup(function (e) {
var popup = $('.js-popup-campaign');
if (e.target!=popup[0]&&popup.has(e.target).lenght === 0){
  $('.js-overlay-campaign').fadeOut();
  
}
});
</script>
<script>
$('.signUp').click(function() {
$('.js-overlay-campaign').fadeOut();
$('body').css('filter','none');
$('.js-overlay-campaign1').css('filter','none');
$('.js-overlay-campaign1').fadeIn();
$('.js-overlay-campaign1').addClass('disabled');
});

$('.js-close-campaign1').click(function() {
$('.js-overlay-campaign1').fadeOut();
$('body').css('filter','none');
});

$(document).mouseup(function (e) {
var popup = $('.js-popup-campaign1');
if (e.target!=popup[0]&&popup.has(e.target).lenght === 0){
  $('.js-overlay-campaign1').fadeOut();
  
}
});
</script>
