<html>

<head>
    <title> WhatACatDog </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div id="base"></div>
        <iframe src="{{ url_for('show_header') }}"></iframe>
    </header>
    <div id="scroller" class="arrow">
        <a href="#"></a>
    </div>
    <a href="https://t.me/whatacatdog_bot">
        <div class="telegram">
        </div>
    </a>
    <div class="estrellas inverso">
        <span>A</span>
        <span>d</span>
        <span>d</span>
        <span> </span>
        <span>o</span>
        <span>u</span>
        <span>r</span>
        <span> </span>
        <span>b</span>
        <span>o</span>
        <span>t</span>
        <span> </span>
        <span>i</span>
        <span>n</span>
        <span> </span>
        <span>T</span>
        <span>e</span>
        <span>l</span>
        <span>e</span>
        <span>g</span>
        <span>r</span>
        <span>a</span>
        <span>m</span>

    </div>
    <!-- Recognizing part)))) -->
    <div>
        <p id="recogn"> Recognize the breed of a cat/dog </p>
        <div id='uploading'>
            <form action="/" method="POST" enctype="multipart/form-data">
                <!-- <button id='btnClick' onclick="document.getElementById('getFile').click()">Click here to upload an
                    image</button> -->
                <input type='file' accept="image/jpg, image/jpeg" id="getFile" name="image">
                <button id='rec'> RECOGNIZE </button>
            </form>
        </div>

        <div id="u0" class="ax_default image">
            <img id="u0_img" class="img " src="{{ url_for('static', filename='css//images/u0.jpg') }}" />
        </div>
        <div id="u1" class="ax_default image">
            <img id="u1_img" class="img " src="{{ url_for('static', filename='css//images/u1.png') }}" />
        </div>
        <div id="u2" class="ax_default image">
            <img id="u2_img" class="img " src="{{ url_for('static', filename='css//images/u2.png') }}" />
        </div>

    </div>
    <!-- How to use part -->

</body>

</html>
<script> 
    $(document).ready(function(){
        // $('#scroller').fadeOut();   
        //fade in/out based on scrollTop value
        $(window).scroll(function () {
            if ($(this).scrollTop() > 550) {
                $('#scroller').fadeIn();
            } else  {
                $('#scroller').fadeOut();
            }
        });
     
        // scroll body to 0px on click
        $('#scroller').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
    });
</script>