<html>

<head>
    <title> WhatACatDog </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleSigning.css') }}">
</head>

<body>
    <div id='frm'>
        <form action="#" method="post" id='forma'>
            <h2 id='head'>Create an account</h2>

            <label for="FN" class="floatLabel" id='l1'>Full name:</label>
            <br>
            <input id="FN" name="FN" type="text" class="inp" placeholder="ex. Ivanov Ivan">
            <label for="Email" class="floatLabel" id='l2'>Email:</label>
            <br>
            <input id="Email" name="Email" type="text" class="inp" placeholder="ex. ivanovivan@gmail.com">
            <label for="password" class="floatLabel" id='l3'>Password:</label>
            <br>
            <input id="password" name="password" type="password" class="inp" placeholder="min. 6 characters">
            <input type="submit" value="Create your account" id="submit">
            <p id='pep'> Or sign up using </p>
            <ul id='api'>

                <li id='ggl'><img src="{{ url_for('static', filename='css//images/u191.png') }}"
                        style="height: 20px; width: 20px; margin-bottom: -5px;">
                    Google </li>
                <li id='fcb'> <img src="{{ url_for('static', filename='css//images/u193.png') }}"
                        style="height: 20px; width: 10px;margin-bottom: -5px;">
                    Facebook </li>
            </ul>
            <p id='pep2'> Already have an account? <a id='sign' href="{{ url_for('_signIn') }}"> Sign in</a> </p>
        </form>
    </div>


</body>

</html>